# 데이터 처리 및 수치 계산
numpy
pandas

# 이미지 처리 및 컴퓨터 비전
opencv-python-headless
Pillow
python-barcode

# 딥러닝 및 머신러닝
tensorflow
ultralytics
scikit-learn

# 시각화
matplotlib
seaborn
scipy

# 대시보드 및 유틸리티
streamlit
tqdm